@import "../../../scss/sass-flex-mixin/_flex.scss";
@import "../../../scss/constants";
@import "../../../scss/mixins";

.navigationBarWrapper {
  position: fixed;
  height: 50px;
  width: 100%;
  @include box-shadow(1px 1px 5px -1px rgba(0, 0, 0, 0.75));
  top: 0;
  left: 0;
  @include flexbox();
  @include align-items(flex-start);

  .navItem {
    background-color: $color_white;
    height: 100%;
    @include flexbox();
    @include align-items(center);
    @include transition(all 0.2s ease);
    padding: 0 $default;

    &.active {
      background-color: $color_accent;
    }

    .icon {
      margin: 0 $small 0 0;
      height: 20px;
      width: 20px;
      background-color: aliceblue;

      &.settings {
        margin: 0 0 0 $small;
      }
    }

    .name {
      color: $color_darkGray;

      &.active {
        color: $color_white;
      }
    }
  }
}

