@import "../constants";

.inputWrapper {
  width: 100%;
  height: 100%;

  .label {
    font-size: $sizeM;
    font-weight: 300;
  }

  input {
    font-size: $sizeSM;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  .validityInfo {

  }
}

.checkboxWrapper {
  .label {

  }

  .checkbox {

  }
}