@import "../../scss/sass-flex-mixin/_flex.scss";
@import "../../scss/constants";
@import "../../scss/mixins";

.inputWrapper {
  margin-bottom: $big;

  .label {
    font-size: $sizeM;
    font-weight: 300;
  }

  .innerWrapper {
    width: auto;
    margin-top: $small;

    input {
      font-size: $sizeM;
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      padding: $tiny;
      border: none;
      outline: none;
    }

    border-bottom: 1px solid $color_darkGray;
  }


  .validityInfo {

  }
}

.checkboxWrapper {
  .label {

  }

  .checkbox {

  }
}

.extendingButtonWrapper {
  position: relative;
  height: 32px;
  width: 32px;
  margin-bottom: $small;

  .extendingButton {
    position: absolute;
    height: 20px;
    max-width: 20px;
    padding: $tinySmall;
    background-color: $color_lightGray;
    border-radius: 24px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(flex-start);
    @include box-shadow(1px 1px 5px -1px rgba(0, 0, 0, 0.75));
    @include transition(all 0.3s ease-in-out);


    .icon {
      @include flex-shrink(0);
      @include flex-grow(0);
      height: 20px;
      width: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .label {
      max-width: 0;
      margin: 0 $smallDefault;
      overflow: hidden;
      @include transition(all 0.3s ease-in-out);
      color: $color_accent;
      white-space: nowrap;
      font-weight: 600;
    }

    &:hover {
      max-width: 300px;
      @include flex-grow(0);

      .label {
        max-width: 300px;
      }
    }
  }
}

.button {
  height: 16px;
  width: 16px;
  margin: 0 $small;
  padding: $tinySmall;
  background-color: $color_lightGray;
  border-radius: 24px;
  @include flex-shrink(0);
  @include box-shadow(1px 1px 5px -1px rgba(0, 0, 0, 0.75));

  &.bigger {
    height: 20px;
    width: 20px;
  }

  .icon {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}

.petListItem {
  background-color: $color_white;
  @include transition(all 0.2s ease);

  &.activePet {
    background-color: $color_accent;
  }

  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);

  .image {
    height: 50px;
    width: 50px;
    @include flex-shrink(0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 8px;
  }

  .textWrapper {
    margin: $small;
    width: 100%;

    .name {
      color: $color_darkGray;
      font-weight: bolder;

      &.activePet {
        color: $color_white;
      }
    }

    .lastGenerated {
      color: $font_lighter;
      font-size: $sizeS;
      margin-top: $small;

      &.activePet {
        color: $font_light;
      }
    }
  }

  .buttonWrapper {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
}

.encyclopediaListItem {
  background-color: $color_white;
  @include transition(all 0.2s ease);

  &.activeEntry {
    background-color: $color_accent;
  }

  @include flexbox();
  @include align-items(center);
  @include justify-content(flex-start);

  .image {
    height: 50px;
    width: 50px;
    @include flex-shrink(0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-radius: 100%;
    margin: 8px;
    background-color: $color_lightGray;
    &.activeEntry {
      background-color: #672A26;
    }
  }

  .textWrapper {
    margin: $small;
    width: 100%;

    .name {
      color: $color_darkGray;

      &.activeEntry {
        color: $color_white;
      }
    }
  }
}


