@import "constants.scss";
@import "mixins.scss";
@import "sass-flex-mixin/_flex.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:200,300,400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700);

html, body, #app, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: $sizeS;
  color: $color_darkGray;
  background-color: #eaeaea;
  background: url('/assets/background.png') no-repeat center;
  background-size: cover;
}

.App {
  margin: 0;
  width: 100%;
  height: 100%;
  @include flexbox;
  overflow: hidden;
  @include justify-content(center);
  @include align-items(center);
  min-width: 750px;
  @media (max-width: 380px) {
    width: 100%;
    min-width: auto;
  }

  white-space: pre-wrap;
}

.routeWrapper {
  margin: 0;
  height: 100%;
  width: 100%;
  @include flexbox;
  @include justify-content(center);
  @include align-items(flex-start);
  min-width: 750px;
  overflow: hidden;
  white-space: pre-wrap;

  @media (max-width: 380px) {
    width: 100%;
    min-width: auto;
  }

  .content {
    padding: 50px $default 0 396px;
    @media (max-width: 380px) {
      padding: $default;
    }
    width: 100%;
    height: 100%;
  }
  .emptyListInfo{
    width: 100%;
    font-weight: 600;
    color: $color_accent;
    text-align: center;
  }
}
