//Margins & Paddings
$tiny: 3px;
$tinySmall: 6px;
$small: 8px;
$smallDefault: 12px;
$default: 16px;
$big: 24px;
$bigHuge: 28px;
$huge: 32px;
$extremeHuge : 64px;
$extremeExtraHuge : 80px;

//Colors
$pageBackground: #E0E0E0;
$darkGradientColor: #7F8185;
$lightGradientColor: #94969A;
$color_darkGray: #565656;
$color_white: #FFFFFF;
$color_accent: #993F39;

//Font Sizes
$sizeXS: 10px;
$sizeS: 12px;
$sizeSM: 14px;
$sizeM: 16px;
$sizeMML: 18px;
$sizeML: 20px;
$sizeMLL: 22px;
$sizeL: 24px;
$sizeXL: 32px;
$sizeXXL: 40px;
$sizeXXXL: 48px;
$sizeHuge: 65px;

//Breakpoints
$breakpointS: 300px;
$breakpointM: 800px;
$breakpointL: 1000px;
$breakpointXL: 1300px;