@import "../../../scss/sass-flex-mixin/_flex.scss";
@import "../../../scss/constants";
@import "../../../scss/mixins";

.petsAndPlans {
  height: 100%;
  @include flexbox();
  @include align-items(flex-start);
  @include justify-content(flex-start);

  .extendingButtonGroupWrapper {
    margin-top: $default;
    @include flexbox();
    @include align-items(flex-start);
    @include justify-content(flex-start);
    @include flex-direction(column);
  }

  .mainContentWrapper {
    padding: $default 0 $default $default;
    overflow: auto;
    width: 100%;
    height: calc(100% - 66px);

    .plan{
      margin: auto;
      max-width: 900px;
      width: 100%;
    }

    .weekSelectorWrapper {
      width: 100%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(flex-end);

      .weekSelector {
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-end);

        .button {

        }

        .label {
          color: $color_accent;
          font-weight: bolder;
          margin: 0 $default;
        }
      }
    }


  }
}

